<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka"
             type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <akka>
    <hocon>
      <![CDATA[
          akka {
            # here we are configuring log levels
            log-config-on-start = off
            stdout-loglevel = ERROR
            loglevel = DEBUG
            # this config section will be referenced as akka.actor
            actor {
              debug {
                  receive = off
                  autoreceive = off
                  lifecycle = on
                  event-stream = off
                  unhandled = on
              }

              default-dispatcher {
                fork-join-executor {
                  parallelism-min = 4
                  parallelism-factor = 2.0
                  parallelism-max = 64
                }
                throughput = 5 // default
              }

              deployment {
                /coffee-house/barista {
                  router = round-robin-pool
                  nr-of-instances = 4
                }
              }
            }
          }

          coffee-house {
            caffeine-limit: 1000
            status-timeout: 1s

            guest {
              finish-coffee-duration: 2s
            }

            barista {
              prepare-coffee-duration: 2s
              accuracy: 100
            }
            
            waiter {
              max-complaint-count: 1
            }
          }
      ]]>
    </hocon>
  </akka>
</configuration>